[user]
	name = Hiroto Naya
	email = hiroto.naya.78@gmail.com
[color]
	# colorの設定(以下のコマンドは自動で色つける)
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[color "status"]
  added = green
  changed = yellow
  untracked = cyan
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = matching
[alias]
	br = branch
	st = status
	sh = show
	sw = switch
	ws = switch
	swc = switch -c
	wsc = switch -c
	so = remote show origin
	ft = fetch
	up = pull --rebase       # pull rebase
	rbm = rebase master      # masterへのrebaseはよく使うのでalias
	ad = add
	ci = commit -a           # modifiedなファイルを全てstageへ
	ch = checkout
	co = commit
	oc = commit
	df = diff
	dif = diff
	difff = diff
	ad = add
	addd = add
[ghq]
	root = ~/repos/
[core]
	editor = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
